body {
    height: 100%;
    margin: 0%;
}
#registro {
    text-decoration: none;
    color: black;
    font-size: medium;
}
#registro:hover {
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  
  .card {
    width: 700px;
  }